.popup__close-button {
    position: relative;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../../../images/close-icon.svg);
    width: 32px;
    height: 32px;
    left: 470px;
    bottom: 194px;
}

.popup__close-button:hover {
    opacity: 0.6;
}


@media screen and (max-width: 895px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        background-image: url(../../../images/close-icon-mobile.svg);
        left: 131px;
        bottom: 16px;
    }
}