.profile {
    display: flex;
    flex-direction: row;
    max-width: 880px;
    justify-content: space-between;
    margin: 0 auto 50px auto;
}

@media screen and (max-width: 895px) {
    .profile {
        max-width: 282px;
        flex-direction: column;
        margin-bottom: 36px;
    }
}