.profile__add-button {
    align-self: center;
    width: 150px;
    height: 50px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../../../images/add-button.svg);
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 895px) {
    .profile__add-button {
        width: 282px;
        border: 2px solid #FFFFFF;
        border-radius: 2px;
        background: url(../../../images/add-button-plus.svg) no-repeat center;
    }
}