.profile__name {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0 18px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
    grid-column: 1/2;
    grid-row: 1/2;
}

@media screen and (max-width: 895px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin-right: 0;
        max-width: 189px;
    }
}